body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(144, 146, 142) 0%, rgb(66, 73, 75) 100%);
}

h1{
    color: #ffffff;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    color: #ffffff;
    margin: 5px;
    /*background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,22,121,1) 46%, rgba(0,212,255,1) 100%);
    */    
}

input[type=text]{
    width: 200px;
    height: 20px;
    margin: 5px;
    color: #000000;
}

table{
    color: #ffffff;
}

#bk{
    background-color:rgb(74, 165, 97);
        color:rgb(10, 9, 9);
}